{{define "about"}}
<!DOCTYPE html>
<html>
<head>
	<title>About Van Hu</title>
	<link rel="icon" type="image/png" href="/favicon.png">
	<link type="text/css" rel="stylesheet" href="/stylesheets/app.css">
</head>
<body>
	<article class="about">
		{{template "info_block"}}

		<h1>About Me.</h1>

		<section>
			<h2>Short Introduction</h2>

			<h3>As a Man</h3>

			<p>I admire genius, badly. I think that's why I can't be a genius. I works hard to look like one.</p>

			<h3>As A Coder</h3>

			<p>I started programming shortly after I began my college life. I didn't code before that.</p>

			<p>I had been using ruby for three years. I made some gems, which, unfortunately are not very
			serious project and it's not very useful.</p>

			<p>I am also quit good at exercising javascript, but it's to the language itself. Writing javascript
			make me feels good.</p>

			<p>Now, writing go is a daily routine of mine. I am quit into this language, which has very concise,
			simple syntax and excellent language design. I made a few serious tools out of go:</p>

			<ul>
				<li><a href="https://github.com/theplant/pak">Pak</a>, a simple go library version management tool;</li>
				<li><a href="https://github.com/bom-d-van/gogetter">GoGetter</a>, a sample data management tool, which is to go what factory_girl is to ruby, but still need more cares.</li>
			</ul>

			<p>Recently, I am also developing in objective-c.</p>
		</section>

		<section>
			<h2>Credos</h2>

			<ul>
				<li>Do difficult and complicate things, in simple ways.</li>
				<li>Solve the principal problem (or trouble) first.</li>
				<li>Make beautiful stuff, literally and figuratively.</li>
				<li>Be a tough guy.</li>
			</ul>
		</section>

		<section>
			<h2>Chronicles</h2>

			<h3>2013-Now</h3>

			<p>December, started using Objective-C.</p>

			<p>May, joined <a href="https://theplant.net">The Plant</a>.</p>

			<p>May, left <a href="http://hzuwando.com/">Wando Lab</a>.</p>

			<p>January, started using <a href="http://golang.org">Go</a>. I love <a href="http://golang.org">Go</a>.</p>

			<h3>2010</h3>

			<p>July, joined <a href="http://hzuwando.com/">Wando Lab</a>.</p>

			<p>Also July, started using <a href="http://ruby-lang.org/">Ruby</a> and Javascript. Officially became a web developer.</p>

			<h3>2009</h3>

			<p>September, started college life at <a href="http://en.hzu.edu.cn/">Huizhou University</a>.</p>
		</section>
	</article>
</body>
</html>
{{end}}
