{{define "about"}}
<!DOCTYPE html>
<html>
<head>
	<title>About Van Hu</title>
	<link rel="icon" type="image/png" href="/favicon.png">
	<link type="text/css" rel="stylesheet" href="/stylesheets/app.css">
</head>
<body>
	<article class="about">
		{{template "info_block"}}

		<h1>About</h1>

		<p>I am a programmer.</p>

		<section>
			<h2>2013-Now</h2>
			<p>Joined <a href="https://theplant.net">The Plant</a>.</p>
			<p>Left <a href="http://hzuwando.com/">Wando Lab</a>.</p>

			<h2>2010</h2>
			<p>Joined <a href="http://hzuwando.com/">Wando Lab</a>.</p>

			<h2>2009</h2>
			<p>Started College Life at <a href="http://en.hzu.edu.cn/">Huizhou University</a>.</p>
		</section>
	</article>
</body>
</html>
{{end}}
